---
layout: common
---

{% capture bin_name %}{% include get_bin_name path=page.path %}{% endcapture %}

{% include page_title.html title=bin_name %}

{% include bin_function_list.html bin=page %}

{{ page.description | markdownify }}

{% for function in page.functions %}
{% assign function_name = function[0] %}
{% assign features = function[1].features %}
{% assign examples = function[1].examples %}

<h2 id="{{ function_name }}">
    {{- site.data.functions[function_name].label -}}
</h2>

{{ site.data.functions[function_name].description | replace: 'BINARY', bin_name | markdownify }}

{% if features %}
<h3>Features</h3>

<dl class="feature-list">
    {% for feature_name in features %}

    <dt>{{ site.data.features[feature_name].label | markdownify }}</dt>
    <dd>
        {{ site.data.functions[function_name].features[feature_name] | markdownify }}
        {{ site.data.features[feature_name].description | replace: 'BINARY',  bin_name | markdownify }}
    </dd>

    {% endfor %}
</dl>
{% endif %}

<h3>Examples</h3>
<ul class="examples">
    {% for example in examples %}

    <li>
        {{ example.description | markdownify }}
        <pre><code>{{- example.code | strip -}}</code></pre>
    </li>

    {% endfor %}
</ul>

{% endfor %}
